body {
  margin: 0 px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

#book {
  width: 90%;
  height: 70vh; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0.45);
  transform-origin: center;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -435px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #6b360e;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #6b360e;
}

@media (max-width: 768px) {
  #book {
    width: 100%; /* Full width for smaller screens */
    height: 60vh; /* Adjust height for smaller screens */
    transform: scale(0.25); /* Smaller scale for better fit on small screens */
  }

  .controls {
    margin-top: -150px; /* Adjust the button position for smaller screens */
  }

  button {
    padding: 8px 16px; /* Smaller button size for mobile */
    font-size: 14px;
  }
}