#book {
  width: 1300px;
  height: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
  transform: scale(0.5);
  transform-origin: top center;
}

.container {
  text-align: center; /* 中心對齊容器內容 */
}

.btn-prev, .btn-next {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}
